!!! XML
!!!
%html
  %head
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8' }
    = title :site => 'APPLICATION_NAME'
    = stylesheet_link_tag 'reset-fonts-grids', 'base-min'
    = stylesheet_link_tag 'application'
    - if File.exist?("#{RAILS_ROOT}/public/stylesheets/#{controller.controller_name}.css")
      = stylesheet_link_tag controller.controller_name
    = javascript_include_tag :defaults
  %body{ :class => controller.controller_name }
    #doc3.yui-t1
      #hd
        / header
      #bd
        #yui-main
          .yui-b
            .yui-g
              / body
              #flash
                - unless flash[:notice].blank?
                  %p.notice= h flash[:notice]
                - unless flash[:error].blank?
                  %p.error= h flash[:error]
              = yield
        .yui-b
          / sidebar
      #ft
        / footer
